streamlit
pdfplumber
python-docx
docx2txt
transformers==4.41.1
nltk==3.8.1
torch
scikit-learn
joblib
numpy
pandas
regex
tqdm
tokenizers
spacy
matplotlib
seaborn
gdown
matplotlib
seaborn